@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
    
  body{
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  

/*navbar*/

.navbar{
  width: 100%;
  z-index: 99999px;
  height: 100%;
  display: flex;
  justify-content: center;

}

nav {
  position: relative;
  padding-bottom: 12px; }
  nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #FF1847; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; }
    nav ul li {
      margin: 0 40px 0 0;
      opacity: .4;
      transition: all 0.4s ease; }
      nav ul li:hover {
        opacity: .7; }
      nav ul li.active {
        opacity: 1; }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li a {
        text-decoration: none;
        color: lawngreen;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        letter-spacing: .2em;
        font-size: 14px; }









  /*team*/

.team{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.tcontainer{
  width: 100%;
  height: 13rem;
}

.theader{
  width: 100%;
  height: 5rem;
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.ttitle{
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.tpara{
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.ticons{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
 
}


.ticons a{
  padding-top: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.ticons a h1{
 padding-left: 5px;
  font-size: 1rem;

}

.teamprofile{
  width: 100%;
  height: 100vh;
  
}

.pheader{
  padding-left: 1rem;
  padding-bottom: 4rem;
  
}

.position{
  width: 100%;
  height: 2rem;
  font-size: 2rem;
  color: hsl(0, 2%, 70%);

}

.pimg{
  padding-top: 1rem;
  object-fit: contain;
  width: 8rem;
  height: 8rem;
}

/*tgchannels*/

.tgheader{
  width: 100%;
  height: 3rem;
}

.tgtitle{
  font-size: 2rem;
  color: hsl(0, 2%, 70%);
}

.tglinks{
  width: 100%;
  height: 100vh;
  margin-bottom: 5rem;
}

.tgimg{
  object-fit: cover;
  width: 100%;
  height: 20rem;
  padding-top: 4rem;
}

@media screen and (max-width: 600px){
  .position{
    padding-top: 3rem;
  }
}



  /*downloads*/
  .container{
   width: 100%;
   height: 100vh;
   overflow: hidden;
   
  }

  
  
  .container .bgimg{
    
    width: 100%;
    height: 100%;
    
   
  }
  
  .container .bgimg .bg{
    position: sticky;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    
  }

  
    .container .bgimg .poster{
        position: absolute;
        z-index: 60;
        width: 250px;
        top: 18%;
        left: 10%;
        border-radius: 10px;
  }

  .icon{  
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 3rem;
    color: rgb(197, 188, 188);
  }

  .title{
    font-size: 1.8rem;
    position: absolute;
    bottom: 10%;
    left: 10%;
  
  }
  .rating{
    font-size: 1.5rem;
    position: absolute;
    bottom: 1%;
    left: 20%;
  }
  
  .trailer{
    font-size: 1.5rem;
    position: absolute;
    top:65% ;
    left: 30%;
  
  }
  
  /*responsive*/


  @media screen and (max-width: 900px){
  .container .bgimg .poster{
    position: absolute;
    z-index: 60;
    width: 200px;
    top: 15%;
    left: 10%;
    border-radius: 10px;
    
  }

  .icon{  
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 2rem;
    color: rgb(197, 188, 188);
  }
  
  .title{
    font-size: 1.8rem;
    position: absolute;
    bottom: 30%;
    left: 10%;
  
  }
  
  
  
  .rating{
    font-size: 1.8rem;
    position: absolute;
    bottom: 25%;
    left: 10%;
  }
  
  .trailer{
    padding-top: 5rem;
    font-size: 1.8rem;
    position: absolute;
    bottom: 20%;
    left: 10%;
  
  }
}
  
  /*divider*/

  .divider{
    margin-top: 3rem;
    color: rgb(197, 188, 188);
    width: 100%;
    height: 100%;
   
  }
  
  .info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 1.7rem;
  }
  
  .info-p{
    padding-top: 1.5rem;
   padding-left: 1rem; 
  }


  @media screen and (max-width: 900px){
  .divider{
    color: rgb(197, 188, 188);
    width: 100%;
    height: 100%;
   
  }
  
  .info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 1.7rem;
  }
  
  .info-p{
    padding-top: 1.5rem;
   padding-left: 1rem; 
  }
}
  
  /*synopsis*/

  .synopsis{
    color: rgb(197, 188, 188);
    margin-top: 2rem;
    width: 100%;
    height: 100%;
  }
  
  .synopsis-title{
    
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  
  .para{
   padding-top: 2rem;
   padding-left:1rem ;
   
    font-size: 1rem;
  }
  
  @media screen and (max-width: 900px){
  .synopsis{
    color: rgb(197, 188, 188);
    margin-top: 2rem;
    width: 100%;
    height: 100%;
  }
  
  .synopsis-title{
    
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  
  .para{
   padding-top: 2rem;
   padding-left:1rem ;
   
    font-size: 1rem;
  }
}
  /*downloads*/

  .download{
    margin-top: 6rem;
    margin-bottom: 5rem;
     min-height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .menu {
    border-radius: 99999rem;
    position: relative;
    width: 20rem;
    height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(197, 188, 188);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
    padding: 1.8rem 2.4rem;
    cursor: pointer;
    box-shadow: 0rem 0rem 3rem #000000;
    z-index: 2;
  }
  .menu__icon-box {
    width: 1rem;
    height: 1rem;
    margin-top: -0.3rem;
  }
  .menu__icon {
    width: 1rem;
    height: 1rem;
    border-top: 0.15rem solid rgb(197, 188, 188);
    border-right: 0.15rem solid rgb(197, 188, 188);
    transition: all 0.3s ease-in-out;
    transform: rotate(135deg);
  }
  .menu__dropdown {
    width: 20rem;
    font-weight: lighter;
    margin-left: -2.4rem;
    position: absolute;
    top: 5.2rem;
    opacity: 0;
    display: none;
    padding: 1.8rem 2.4rem 1.6rem 2.4rem;
    border-radius: 20px;
    background-color: black;
    border-top: 0.2rem solid #000000;
    z-index: -999;
  }
  .menu__dropdown-option {
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
  }
  
  .menu__active {
    transform: translateY(-3rem);
    border-radius: rem 0.4rem 0 0;
  }
  .menu__active .menu__icon {
    transform: rotate(-45deg);
    margin-top: 0.5rem;
  }
  .menu__active .menu__dropdown {
    opacity: 1;
    display: block;
    animation: showDropdownMenu 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  }
  @keyframes showDropdownMenu {
    0% {
      opacity: 0;
      transform: translateY(-2rem);
   }
    100% {
      opacity: 1;
      transform: translateY(0rem);
   }
}
  @media screen and (max-width: 900px){ 
  .download{
    margin-top: 6rem;
    margin-bottom: 5rem;
     min-height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .menu {
    border-radius: 99999rem;
    position: relative;
    width: 20rem;
    height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(197, 188, 188);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
    padding: 1.8rem 2.4rem;
    cursor: pointer;
    box-shadow: 0rem 0rem 3rem #000000;
    z-index: 2;
  }
  .menu__icon-box {
    width: 1rem;
    height: 1rem;
    margin-top: -0.3rem;
  }
  .menu__icon {
    width: 1rem;
    height: 1rem;
    border-top: 0.15rem solid rgb(197, 188, 188);
    border-right: 0.15rem solid rgb(197, 188, 188);
    transition: all 0.3s ease-in-out;
    transform: rotate(135deg);
  }
  .menu__dropdown {
    width: 20rem;
    font-weight: lighter;
    margin-left: -2.4rem;
    position: absolute;
    top: 5.2rem;
    opacity: 0;
    display: none;
    padding: 1.8rem 2.4rem 1.6rem 2.4rem;
    border-radius: 20px;
    background-color: black;
    border-top: 0.2rem solid #000000;
    z-index: -999;
  }
  .menu__dropdown-option {
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
  }
  .menu__dropdown-option:hover {
    background-color: #e8f0fc;
  }
  .menu__active {
    transform: translateY(-3rem);
    border-radius: rem 0.4rem 0 0;
  }
  .menu__active .menu__icon {
    transform: rotate(-45deg);
    margin-top: 0.5rem;
  }
  .menu__active .menu__dropdown {
    opacity: 1;
    display: block;
    animation: showDropdownMenu 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  }
  @keyframes showDropdownMenu {
    0% {
      opacity: 0;
      transform: translateY(-2rem);
   }
    100% {
      opacity: 1;
      transform: translateY(0rem);
   }
  }
}


/*donuts*/

.dcontainer{
  width: 100%;
  height: 100vh;

}

.dheader{
  width: 100%;
  height: 10rem;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 1.6rem;
}


.dpara{
  width: 100%;
  height: 20rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

